@charset "UTF-8";
/* цвет заголовков - #212121 */
/* цвет текста - #757575 */
/* цвет таргета - #2196F3 */
/* цвет хиро/футера - #2F303A */
/* белый - #FFFFFF */
/* черный - #000000 */
/* СКРЫТЬ ПРЕИМУЩЕСТВА */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  color: #757575;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 767.98px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

img {
  width: 100%;
  display: block;
  height: auto;
}

.logo {
  margin-left: 0;
  color: #000000;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
}

.span_logo {
  color: #2196f3;
}

.network {
  display: flex;
}

.network__item:not(:last-child) {
  margin-right: 10px;
}

.network__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.network__link:hover, .network__link:focus {
  background-color: #2196f3;
}

.network__icon {
  width: 20px;
  height: 20px;
}

.team-network__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.network__link:hover .team-network__icon, .network__link:focus .team-network__icon {
  fill: #fff;
}

/* бекдроп, модалка */
.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .modal {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__paragraph {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .modal__form {
    max-width: 370px;
  }
}

.modal__input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  display: block;
  margin-top: 4px;
  padding-left: 42px;
  outline-color: rgba(33, 33, 33, 0.2);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  outline-color: #2196f3;
}
.modal__input:focus + .modal__icon {
  fill: #2196f3;
}

.modal__agreementTextarea {
  border-radius: 4px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline-color: rgba(33, 33, 33, 0.2);
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__agreementTextarea:focus {
  outline-color: #2196f3;
}
@media screen and (max-width: 480px) {
  .modal__agreementTextarea {
    max-width: 370px;
  }
}

.modal__label {
  position: relative;
  margin-bottom: 10px;
}

.modal__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__agreement {
  display: flex;
  align-items: center;
}

.modal__agreementText {
  margin-left: 8.38px;
}

.contract-link {
  color: #2196f3;
}

.default_checkbox {
  appearance: none;
}

/* не ставил конкретный транслейшн, пускай применяется ко всему */
.custom_checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.default_checkbox:checked + .custom_checkbox {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url("../images/svg_icons/checked.svg");
  background-size: contain;
  background-origin: border-box;
}

.modal__button {
  width: 200px;
  height: 50px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #2196f3;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
}

.modal__button:active {
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal__close {
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.icon-close {
  fill: hsl(0deg, 0%, 0%);
  width: 25px;
  height: 25px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover .icon-close {
  fill: #2196f3;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.nav__link {
  display: inline-block;
  color: #212121;
  font-weight: 500;
  font-size: 48px;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.contacts__link-mail {
  font-size: 24px;
}
.contacts__link-mail:hover .icon-envelope, .contacts__link-mail:focus .icon-envelope {
  fill: #2196f3;
}

.icon-envelope {
  width: 14px;
  height: 10px;
  margin-right: 10px;
  align-items: center;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link-phone {
  font-size: 34px;
}
.contacts__link-phone:hover .icon-smartphone, .contacts__link-phone:focus .icon-smartphone {
  fill: #2196f3;
}

.icon-smartphone {
  width: 10px;
  height: 14px;
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link {
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .header {
    height: 60px;
  }
  .header-wrapp {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .nav-wrapp {
    margin-bottom: 302px;
  }
  .nav__link-active {
    color: #2196f3;
  }
  .menu-button {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 15px;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .menu-button .icon-menu {
    display: none;
  }
  .menu-button.is-open .icon-menu {
    display: block;
  }
  .menu-button.is-open .icon-close {
    display: none;
  }
  .menu-container {
    display: none;
    position: absolute;
    top: calc(100% - 60px);
    left: 0;
    width: 100%;
    padding-left: 40px;
    background-color: #fff;
    z-index: 1;
  }
  .menu-container.is-open {
    display: block;
  }
  .icon-envelope,
.icon-smartphone {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
  .menu-container {
    margin-left: 88px;
  }
  .header-wrapp,
.menu-container {
    display: flex;
  }
  .header-logo {
    display: flex;
    align-items: center;
  }
  .nav-wrapp {
    display: flex;
    align-items: center;
  }
  .nav__list {
    display: flex;
  }
  .nav__link {
    padding: 28px 0;
  }
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav__link-active {
    color: #2196f3;
    position: relative;
  }
  .nav__link-active::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    border: 2px solid #2196f3;
    border-radius: 2px;
  }
  .contacts-mleft {
    margin-left: 84px;
  }
  .nav__link {
    font-size: 14px;
  }
  .contacts__link {
    display: flex;
    align-items: center;
  }
  .contacts__link-mail,
.contacts__link-phone {
    font-size: 12px;
  }
}
@media screen and (max-width: 1199px) {
  .contacts-mleft {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-mleft {
    margin-left: 305px;
    display: flex;
    justify-content: center;
  }
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
  /* контакты */
  .contacts {
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
}
/* фон оглавления */
.hero {
  background-color: #2f303a;
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/m_hero@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/m_hero@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/t_hero@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/t_hero@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding: 200px 0;
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/d_hero@1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/d_hero@2x.jpg);
  }
}

/* оглавление */
.hero__title {
  margin-bottom: 30px;
  color: #fff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
  }
}

/* кнопка заказать услугу */
.hero__button {
  display: inline-block;
  padding: 10px 32px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #2196f3;
  text-align: center;
  color: #fff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}
.hero__button:active {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.benefits {
  padding-top: 60px;
}

.benefits__list .list::before {
  display: block;
  content: "";
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.benefits__list .list:nth-child(1)::before {
  background-image: url(../images/svg_icons/antenna.svg);
}

.benefits__list .list:nth-child(2)::before {
  background-image: url(../images/svg_icons/clock.svg);
}

.benefits__list .list:nth-child(3)::before {
  background-image: url(../images/svg_icons/diagram.svg);
}

.benefits__list .list:nth-child(4)::before {
  background-image: url(../images/svg_icons/astronaut.svg);
}

/* оглавление преимуществ */
.benefits__title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.benefits__item:not(:last-child) {
  margin-bottom: 30px;
}

.benefits__item:last-child {
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .benefits__item {
    margin-bottom: 0;
    padding-bottom: 0;
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
  .benefits__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc((100% - 120px) / 4);
  }
}
.doing {
  padding-top: 94px;
}

@media screen and (max-width: 1199px) {
  .doing {
    display: none;
  }
}
/* оглавление занятий */
.doing-list {
  padding-bottom: 94px;
}

.doing__title {
  color: #212121;
  padding-bottom: 50px;
}

.doing-list {
  display: flex;
}

.doing .list:not(:last-child) {
  margin-right: 30px;
}

.doing-list__wrap {
  position: relative;
  z-index: 1;
}

.doing-list__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
}

/* лектор говорил, что позиция дружит с флекс боксами и через
жустивай и алайн можно задавать позицию, если элемент является флексовым,
но текст центрировался только тогда, когда я убрал позишн абсолют. почему?

ответ: потому, что позиция, которую я задаю этому классу перебивает 
настройки, которые я задал флекс боксу предка? */
.doing-list__text {
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team {
  background-color: #f5f4fa;
  padding-bottom: 60px;
  padding-top: 60px;
}

.team__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.team-list__card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__title,
.team-list__name {
  color: #212121;
}

.team__title {
  font-size: 28px;
}

.team-list__name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list__job {
  text-align: center;
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .team-list__card:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-list__card {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__card {
    margin-bottom: 0;
    margin: 15px;
    width: calc((100% - 120px) / 4);
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .team__title {
    font-size: 36px;
  }
}
.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__title {
  color: #212121;
  margin-bottom: 30px;
  font-size: 28px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: -15px;
}

.clients-list_item {
  width: calc((100% - 60px) / 2);
  margin: 15px;
}

.clients-list__container {
  display: flex;
  justify-content: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__container:hover .client_logo, .clients-list__container:focus .client_logo {
  fill: #2196f3;
}
.clients-list__container:hover, .clients-list__container:focus {
  border: 1px solid #2196f3;
}

.client_logo {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
  margin: 16px 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .clients-list_item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list_item {
    width: calc((100% - 180px) / 6);
  }
}
/* портфолио кнопки */
@media screen and (max-width: 767.98px) {
  .portfolioNav {
    padding: 40px 88px 40px 15px;
  }
}
@media screen and (min-width: 768px) {
  .portfolioNav {
    padding: 60px 78px 30px 79px;
  }
}

.portfolioNav__list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .portfolioNav__list {
    justify-content: center;
  }
}

@media screen and (max-width: 767.98px) {
  .portfolioNav__item:nth-child(3) {
    margin-right: 0;
  }
  .portfolioNav__item:nth-child(1),
.portfolioNav__item:nth-child(2),
.portfolioNav__item:nth-child(3) {
    margin-bottom: 15px;
  }
}
.portfolioNav__item:not(:last-child) {
  margin-right: 8px;
}

.portfolioNav__button {
  cursor: pointer;
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  display: inline-block;
  /* взял паддинг 9 на глаз */
  border: none;
  border-radius: 4px;
  padding: 11px 25px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolioNav__button:hover, .portfolioNav__button:focus {
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.content__list {
  padding: 30px 0 60px 0;
}
@media screen and (min-width: 768px) {
  .content__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.card__image {
  display: block;
}

@media screen and (min-width: 768px) {
  .content__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .content__item {
    width: calc((100% - 90px) / 3);
  }
}

@media screen and (max-width: 767.98px) {
  .content__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.card__wrap {
  position: relative;
  overflow: hidden;
}

.card__image--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767.98px) {
  .card__image--overlay {
    background-color: rgba(33, 150, 243, 0.9);
  }
}
@media screen and (min-width: 1200px) {
  .card__image--overlay {
    background-color: rgba(33, 150, 243, 0.9);
  }
}

.card__image--description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
@media screen and (max-width: 767.98px) {
  .card__image--description {
    padding: 77px 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .card__image--description {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .card__image--description {
    padding: 63px 24px;
  }
}

.card:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card:hover .card__image--overlay, .card:focus .card__image--overlay {
  transform: translateY(0);
}

.card__text {
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.card__text {
  padding: 20px 24px;
}

.card__name {
  color: #212121;
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__type {
  color: #757575;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__div {
  display: flex;
  flex-direction: column;
}

.contacts-wrapp {
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .contacts-wrapp {
    margin-bottom: 60px;
  }
}

.footer-contacts__list {
  margin-top: 20px;
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 8px;
}

/* цвет навигации контактов */
.footer-contacts__link {
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: #2196f3;
}

.footer-contacts__link-opacity {
  color: #fff;
  opacity: 0.6;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__link-opacity:hover, .footer-contacts__link-opacity:focus {
  color: #2196f3;
}

.feedback__form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* лого */
.logo-white {
  display: inline-block;
  color: #fff;
}

.join {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.footer-network {
  justify-content: center;
}
@media screen and (max-width: 1199px) {
  .footer-network {
    margin-bottom: 60px;
  }
}

.footer-network__link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #fff;
}

.feedback__text {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.feedback__label {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .feedback__label {
    width: 450px;
  }
}

.feedback__input {
  width: 100%;
  display: block;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #fff;
}
.feedback__input:focus {
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
}
@media screen and (max-width: 1199px) {
  .feedback__input {
    margin-bottom: 20px;
  }
}

.feedback__button {
  display: inline-flex;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  margin-right: 0;
  background-color: #2196f3;
  border-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid #2196f3;
  text-align: center;
  cursor: pointer;
  color: #fff;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 29px;
}
.feedback__button:active {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.icon-send {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer__div {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contacts-wrapp {
    margin-right: 165px;
    margin-bottom: 60px;
  }
  .feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .feedback__form {
    justify-content: center;
    flex-direction: column;
  }
  .feedback__button {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__div {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: baseline;
  }
  .contacts-wrapp {
    margin: 0;
    margin-right: 76px;
    text-align: start;
  }
  .footerNetwork-wrapp {
    margin-right: 93px;
  }
  .footerNetwork-wrapp .join {
    text-align: start;
  }
  .feedback {
    justify-content: flex-start;
  }
  .feedback__label {
    width: 358px;
    margin-right: 12px;
  }
  .feedback__text {
    text-align: start;
  }
  .footer-network {
    justify-content: start;
  }
  .feedback__form {
    flex-direction: row;
    justify-content: start;
  }
  .feedback__input {
    width: 358px;
  }
  .feedback__button {
    margin-left: 0;
  }
}/*# sourceMappingURL=main.css.map */