.network {
  display: flex;
}

.network__item:not(:last-child) {
  margin-right: 10px;
}

.network__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $target-color;
  }
}

.network__icon {
  width: 20px;
  height: 20px;

}

.team-network__icon {
  fill: $icon-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .network__link:hover &,
  .network__link:focus & {
    fill: #fff;
  }
}