/* цвет заголовков - #212121 */
/* цвет текста - #757575 */
/* цвет таргета - #2196F3 */
/* цвет хиро/футера - #2F303A */
/* белый - #FFFFFF */
/* черный - #000000 */
    
    
    $title-color: #212121;
    $text-color: #757575;
    $target-color: #2196f3;
    $hero_footer-color: #2f303a;
    $secondary_background-color: #f5f4fa;
    $border-color: #ECECEC;
    $icon-color: #afb1b8;
       